#prod-info-form {
    display: grid;
    grid-template-columns: 80px 180px;
    justify-items: end;
    row-gap: 5px;
    padding-bottom: 15px;
}

#register-btn {
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.prod-qty, .prod-un-price, .prod-total {
    text-align: center;
}